
.title {
    font-size: 2rem;
    margin-top: 6px;
    text-align: center;
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;
}

.map-container{
    border-style: solid;
    border-radius: 32px;
    border-width: 5px;
    border-color: black;
    align-items:center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
}
